<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-button (click)="list()">Atualizar</ion-button>
        </ion-col>
        <ion-col class="right">
          <ion-button color="danger" (click)="fechar()">Fechar</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>  
  <ion-list>
    <ion-item *ngFor='let chamado of chamados' (click)="goToDescricao(chamado)">
      <div>
        {{chamado.assunto}}
        <br>
        {{chamado.nome}}
        <br>
        {{chamado.bairro}}
        <br>
        {{chamado.visita}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
