<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chamado {{chamado.chamado}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Cliente: {{chamado.nome}}
  <br>
  Endereço: {{chamado.endereco}}, {{chamado.numero}}
  <br>
  Bairro: {{chamado.bairro}}
  <span *ngIf="chamado.complemento != null">
    <br>
    Complemento: {{chamado.complemento}}
  </span>
  <br>
  <br>
  <span *ngIf="chamado.celular != null">
      Contato 1: <a (click)="call(chamado.celular)">{{chamado.celular}}</a>
  </span>
  <br>
  <span *ngIf="chamado.celular2 != null">
      Contato 2: <a (click)="call(chamado2.celular)">{{chamado2.celular}}</a>
  </span>
  <br>
  <br>
  Plano: {{chamado.plano}}
  <br>
  Equipamento: {{chamado.equipamento}}
  <br>
  Comodato: {{chamado.comodato}}
  <br>
  <br>
  <div *ngFor = "let mss of chamado.msg; let i = index" [attr.data-index]="i">
    <div class="nota">
      <ion-label>Observação {{i + 1}}:</ion-label>
      <br>
    </div>
    <ion-textarea
    rows="4"
    readonly
    value = {{mss.msg}}>
    </ion-textarea>
  </div>
  <div class="footer">
      <ion-button (click)="fechar()">Finalizar</ion-button>
  </div>
</ion-content>
