ion-textarea{
    background-color : #ffce00
}
ion-content{
    height: 100%;
    position: relative;
}
.obs{
    background-color : #00e077;
    text-align: center;
}
.nota{
    background-color : #e05a00;
    text-align: center;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}